@font-face {
    font-family: opensans;
    src: url(../libs/fonts/OpenSans-Regular.ttf);
}


body{
/*    background-color: #1e4a64; old*/
    background-color: #16374A;
    color:#ccc;
    font-family: opensans !important;
}
#logo{
/*    width: auto;*/
    height: 100%;
    display: inline-block;
}

header{
    display: inline-flex;
}

nav, nav a{
    line-height: 120px;
    background-color: #1e4a64;
    border-width:0px;
}
nav .container-fluid{
    background:#1e4a64;
}
nav .navbar-brand{
    padding:0;
    width:200px;
}
#navigation{border:0;}
#navigation *{
    color:white;
    font-weight: 500;
/*    height:120px;*/
}
/*
.link {
    text-decoration: none;
    display: inline-block;
    border-bottom: 3px solid transparent;    
    width: 0px;
    transition: 0.5s ease;
    white-space: nowrap;
    height: 25px;
}
.link:hover {
    border-bottom: 3px solid blue;
    width: 50px;
}
*/
.link::before{
    content:"";
    width:0;

    
/*    border:1px solid black;*/
}
.link:hover::before{
        content: "";
    width: 100%;
    border-bottom: 1px solid #ccc;
    position: absolute;
    bottom: 10px;
    -webkit-transition: width 0.2s; /* Safari */
    transition: width 0.2s;
}
#content{
        max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.box {
    
        margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    height:300px;

}
.dark-box{
    background-color: #1E4A64;
}
.light-box{
      background-color: #225371;
}
.selected-box{
    background-color: #409FD6;
}
.flip{
        height:300px;
    transform:rotateX(0deg);
         -webkit-transition: transform 1s; /* Safari */
    transition: transform 1s;
    transition-timing-function: ease-in;

    perspective: 1000px;
    transform-style: preserve-3d;/*Ca ne marche pas sans cette ligne*/

}
.flip:hover{
        transition-delay: 250ms;
    transform:rotateX(180deg);
}
.flip-front{
       transform:rotateX(0deg);
/*    background: red;*/
    z-index: 3;
}
.flip-back{
   transform:rotateX(180deg);
/*    background:green;*/
}
.flip-back, .flip-front{
     backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
/*    padding: 15px;*/
}


.text-box {
      height: 35%;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;

}



/*Linkedin*/
.flip .LI-badge-container.horizontal.dark {
    width: 100%;
}
.flip .LI-more-info {
        height: 100%;
    padding-bottom: 63px !important;
}

